.class_center {
  text-align: center;
}
.grid-flow {
  border: 5px solid green;
  width: fit-content;
  margin-left: 90px;
  margin-top: 5%;

  text-align: center;
}
.grid-flow-left {
  float: left;
}

.grid-flow-right {
  float: right;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}
