.class_center {
  text-align: center;
}
.grid-flow {
  border: 5px solid rgb(155, 172, 155);
  width: 70%;
  height: 90%;
  margin-left: 90px;
  margin-top: 5%;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80%;
}
